<div>
    <div>
        <div class="rc-defaultchallenge-response-field">
            <input type="text" id="default-response" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" dir="ltr" class="rc-response-input-field" placeholder="Type the text" aria-label="Type the text">
        </div>
        <div class="rc-defaultchallenge-payload">
            <img src="https://www.google.com/recaptcha/api2/payload?c=03AHJ_VutPFJ5La9VEKniWtnrI-sdSpb1sIgNaWGWUfXle4Jr2sBcdAT8Lrc4w4kCQ-z_wzshv5vKYUpzIVAGDgaWaUMqr1q5jGq7KZrEQRMnd12SO7fZ-EIoV7KI4KPqdqm3TZKB-qxc2cwhyUFjCqIb48Gypv4m14F4n1Sgk_QCoC_vfqGuj-1HdDchVpbS_4KrODHyKilxw0JApkiBTNxB8OUxqNkEd8xtnMlA0q6zKg5al2eF6l7BvGaH0JzQr2uCFVramf-EUvk-nCp_ynQF2DVJSmStISJCowiAOjAu250bm1IWG4CiyzNfPF0Ky5NVRnEK2nY9G3tvRS4gLyrfQ5U8ItB0OYUkshIpUtYJTTvRPt10mxxx-FMWUm5c5GRdbJoS5dCLe3Fewb_DiUDOs_BqhpJglRdMwgnnPZR0TpAN-4AF3q8ANX88SzCquY2ux3lFGBWPEEnU82D9F08KYqbpaa0IbcWa57SgMKNytV4uyh5ozXazYaxz598jDp1d-qT3UzThZktycJ_XNqe7ZWBycwDcI5QK8qdrChDx7e1tU-1ISHox7BdBjDI9XiUBdJuxGT_ov8MQTlw65aBF9TzgYXf8HIsvss8ocg9a81NbBPQM2XR2YMeKlUZTSI1izfmPiSvQVtYQw-YcqOGMoiW30r93W2Jux0bozKfAIO1yGh4UuGLl5nUVBQaTWd-Owo8KnzmpZ-feZniNPZy_NJxzz5BKf1Znc-1GmKefQBncPg57gpc9QI-95HxrDG_M_s8LmZN0yVq5X1iAZex7Nvl87iL4hxAzmehfO40gi2sR35-o4fWU&amp;k=6Lf3v8wSAAAAABVuu8qFKDtsvc0ILPoyUBVRToA9" alt="reCAPTCHA challenge image">
        </div>
        <div class="rc-defaultchallenge-incorrect-response" style="display:none">Multiple correct solutions required - please solve more.</div>
        <div class="rc-footer">
            <div class="rc-separator"></div>
            <div class="rc-controls" role="region" aria-label="recaptcha controls">
                <div class="primary-controls">
                    <div class="rc-buttons">
                        <div class="button-holder reload-button-holder">
                            <div class="rc-button goog-inline-block rc-button-reload" title="Get a new challenge" role="button" tabindex="0" id="recaptcha-reload-button" style="-webkit-user-select: none;"></div>
                        </div>
                        <div class="button-holder audio-button-holder">
                            <div class="rc-button goog-inline-block rc-button-audio" title="Get an audio challenge" role="button" tabindex="0" id="recaptcha-audio-button" style="-webkit-user-select: none;"></div>
                        </div>
                        <div class="button-holder image-button-holder">
                            <div class="rc-button goog-inline-block rc-button-image" title="Get a visual challenge" role="button" tabindex="0" id="recaptcha-image-button" style="-webkit-user-select: none; display: none;"></div>
                        </div>
                        <div class="button-holder help-button-holder">
                            <div class="rc-button goog-inline-block rc-button-help" title="Help" aria-pressed="false" role="button" tabindex="0" id="recaptcha-help-button" style="-webkit-user-select: none;"></div>
                        </div>
                    </div>
                    <div class="verify-button-holder">
                        <div class="rc-button-default goog-inline-block" role="button" tabindex="0" id="recaptcha-verify-button" style="-webkit-user-select: none;">Verify</div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="rc-report-problem-text goog-inline-block goog-link-button" role="button" tabindex="0" style="-webkit-user-select: none;">Report a problem</div>
                </div>
                <div class="secondary-controls" style="display:none">
                    <div class="report-captcha-button-holder">
                        <div class="rc-button-default rc-button-default-disabled goog-inline-block rc-report-captcha-button" role="button" aria-disabled="true" id="recaptcha-report-captcha-button" tabindex="0" style="-webkit-user-select: none;">REPORT CAPTCHA</div>
                    </div>
                    <div class="rc-separator"></div>
                </div>
            </div>
            <div class="rc-challenge-help" style="display:none" tabindex="0"></div>
            <div class="rc-report-problem-section" style="display:none">
                <div class="rc-report-problem-header">Why are you reporting this CAPTCHA?
                    <div class="rc-report-close">
                        <div class="rc-button goog-inline-block" title="Close report a problem" role="button" tabindex="0" id=":1" style="-webkit-user-select: none;"></div>
                    </div>
                </div>
                <div class="rc-report-problem-options">
                    <div class="jfk-radiobutton" data-value="1" role="radio" aria-checked="false" data-name="" tabindex="0" style="-webkit-user-select: none;"><span class="jfk-radiobutton-radio"></span>
                        <div class="jfk-radiobutton-label">Low quality content</div>
                    </div>
                    <br>
                    <div class="jfk-radiobutton" data-value="2" role="radio" aria-checked="false" data-name="" style="-webkit-user-select: none;"><span class="jfk-radiobutton-radio"></span>
                        <div class="jfk-radiobutton-label">Pornographic or violent content</div>
                    </div>
                    <br>
                    <div class="jfk-radiobutton" data-value="3" role="radio" aria-checked="false" data-name="" tabindex="0" style="-webkit-user-select: none;"><span class="jfk-radiobutton-radio"></span>
                        <div class="jfk-radiobutton-label">No valid solution</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>